
<ion-content class="page-signup">
  <ion-grid>
    <ion-row class="back" text-center>
			<ion-col col-12>
        <div class="go-back-btn" (click)="onGoBack()">
            <img src="assets/imgs/back-white.png">
        </div>
			</ion-col>
		</ion-row>
  </ion-grid>
  <ion-list >
    <form novalidate (ngSubmit)="updateProfile()" [formGroup]="newclassform">
      <div class="input-row">
        <ion-item no-lines class="input-item input-controls">
          <ion-label floating>Your Name</ion-label>
          <ion-input type="text" [(ngModel)]="profileData.name" formControlName="name" [class.error-input]="!newclassform.controls.name.valid && newclassform.controls.name.dirty"></ion-input>
        </ion-item>
        <ion-item class="input-item" no-lines *ngIf="( newclassform.get('name').hasError('minlength') || newclassform.get('name').hasError('maxlength') || newclassform.get('name').hasError('pattern') ||newclassform.get('name').hasError('required') ) && newclassform.get('name').touched">
          <div class="error-text" *ngIf="newclassform.get('name').hasError('required') && newclassform.get('name').touched">
            *Required field
          </div>
          <div class="error-text" *ngIf="newclassform.get('name').hasError('maxlength') && newclassform.get('name').touched">
            <ion-icon name="alert"></ion-icon>Maximum 50 characters
          </div>
        </ion-item>
      </div>

      <div class="input-row">
        <ion-item no-lines class="input-item input-controls">
          <ion-label floating>Quick Bio</ion-label>
          <ion-input type="text" [(ngModel)]="profileData.description" formControlName="description" [class.error-input]="!newclassform.controls.description.valid && newclassform.controls.description.dirty"></ion-input>
        </ion-item>
        <ion-item class="input-item" no-lines *ngIf="( newclassform.get('description').hasError('minlength') || newclassform.get('description').hasError('maxlength') ||newclassform.get('description').hasError('pattern') ||newclassform.get('description').hasError('required') ) && newclassform.get('description').touched">
          <div class="error-text" *ngIf="newclassform.get('description').hasError('required') && newclassform.get('description').touched">
            *Required field
          </div>
          <div class="error-text" *ngIf="newclassform.get('description').hasError('maxlength') && newclassform.get('description').touched">
            <ion-icon name="alert"></ion-icon>Maximum 250 characters
          </div>
        </ion-item>
      </div>

      <div class="input-row">
        <ion-item no-lines class="input-item input-controls">
          <ion-label floating>Your Experience</ion-label>
          <ion-input type="text" [(ngModel)]="profileData.experience" formControlName="experience" [class.error-input]="!newclassform.controls.experience.valid && newclassform.controls.experience.dirty"></ion-input>
        </ion-item>
        <ion-item class="input-item" no-lines *ngIf="( newclassform.get('experience').hasError('minlength') || newclassform.get('experience').hasError('maxlength') ||newclassform.get('experience').hasError('pattern') ||newclassform.get('experience').hasError('required') ) && newclassform.get('experience').touched">
          <div class="error-text" *ngIf="newclassform.get('experience').hasError('required') && newclassform.get('experience').touched">
            *Required field
          </div>
          <div class="error-text" *ngIf="newclassform.get('experience').hasError('maxlength') && newclassform.get('experience').touched">
            <ion-icon name="alert"></ion-icon>Maximum 250 characters
          </div>
        </ion-item>
      </div>

      <div class="input-row">
        <ion-item no-lines class="input-item input-controls">
          <ion-label floating>Your Specialization</ion-label>
          <ion-input type="text" [(ngModel)]="profileData.specialization" formControlName="specialization" [class.error-input]="!newclassform.controls.specialization.valid && newclassform.controls.specialization.dirty"></ion-input>
        </ion-item>
        <ion-item class="input-item" no-lines *ngIf="( newclassform.get('specialization').hasError('minlength') || newclassform.get('specialization').hasError('maxlength') ||newclassform.get('specialization').hasError('pattern') ||newclassform.get('specialization').hasError('required') ) && newclassform.get('specialization').touched">
          <div class="error-text" *ngIf="newclassform.get('specialization').hasError('required') && newclassform.get('specialization').touched">
            *Required field
          </div>
          <div class="error-text" *ngIf="newclassform.get('specialization').hasError('maxlength') && newclassform.get('specialization').touched">
            <ion-icon name="alert"></ion-icon>Maximum 50 characters
          </div>
        </ion-item>
      </div>
     
    <div class="row-signup">
      <button class="signup-btn" type="submit" ion-button >Update Profile</button>
    </div>
    </form>
  </ion-list>
</ion-content>
