.page-signin{
  background: linear-gradient(-179deg, #FE8C00 0%, #F83600 100%);

  .button:hover {
    background-color: #fff !important;
  }
  //These remove the default border validation
  .input-item.ng-invalid{
     border-bottom-color: transparent;
  }
  .input-item.ng-valid{
     border-bottom-color: transparent;
  }

  .input-row {
    padding-top: 25px;
  }
  .input-item {
    background-color: transparent;
    padding-left:20px;
    padding-right:20px;

    .label {
      color: white;
    }

    ion-input {
      color: white;
      border-bottom: 1px solid white;
    }

    .error-input {
      color: #362226;
      // border-bottom: 1.5px solid #362226;
      ion-input {
        border-bottom: 1.5px solid #362226;
      }
    }
    .error-text {
      color: #362226;
    }
    .extra-padding {
      padding-top: 7px;
    }
    ion-icon {
      padding-right: 5px;
    }

  }

  .row-signup {
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;

  }
  .login-btn{
    background-color: white;
    color:#FC3F1B;
    height: 55px;
    width: 100%;
  }

  ion-list {
    padding-top: 30px;
  }

  .back{
    .go-back-btn {
      text-align: left;
      padding-left:10px;
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }

}
