<ion-menu id="trainee" class="nav-menu-contents" [content]="nav">
	<ion-header>
		<ion-toolbar>
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<button ion-button full class="nav-menu-item" [ngClass]="isCurrentPage(pageMySessions)" (click)="openPage(pageMySessions)">
			My Sessions
		</button>
		<button ion-button full class="nav-menu-item" [ngClass]="isCurrentPage(pageDiscoverClass)" (click)="openPage(pageDiscoverClass)">
			Discover
		</button>

	</ion-content>
	<ion-footer>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<button class="nav-menu-logout" ion-button block (click)="logoutClicked()">Log out</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>

<ion-menu id="trainer" class="nav-menu-contents" [content]="nav">
	<ion-header>
		<ion-toolbar>
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<button ion-button full class="nav-menu-item" [ngClass]="isCurrentPage(pageMyProfile)" (click)="openPage(pageMyProfile)">
			My Profile
		</button>
		<button ion-button full class="nav-menu-item" [ngClass]="isCurrentPage(pageMyClasses)" (click)="openPage(pageMyClasses)">
			My Classes
		</button>

	</ion-content>
	<ion-footer>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<button class="nav-menu-logout" ion-button block (click)="logoutClicked()">Log out</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-footer>
</ion-menu>