<ion-header>
  <nav-menu-component [title]="'My Profile'"></nav-menu-component>
</ion-header>

<ion-content class="card-background-content">

  <!-- if user has no data in their profile -->
  <div *ngIf = "profileUpdated == false">
		<ion-grid>
		  <ion-row>
			
			<ion-col col-12>You have not yet customized your profile. Please begin by pressing "Edit Profile" in the top right corner.</ion-col>
		  </ion-row>

		</ion-grid>
	</div>
  <!-- if user has updated their profile --> 
	<div *ngIf="profileUpdated == true">
    <div class="class-details-content">
		<ion-row>
			
			<ion-col col-12>This is how your profile will look on classes you create:</ion-col>
		</ion-row>
      <ion-row class="trainer">
			<ion-col col-auto class="image">
				<img [src]="trainerData.image" width="80" height="80">

			</ion-col>
			<ion-col col-auto class="contents">
				<p class="name">{{ trainerData.name }}</p>
				<p>{{ trainerData.description }}</p>
				<p>{{ trainerData.experience }}</p>
				<p>{{ trainerData.specialization }}</p>
			</ion-col>
			<ion-col col-auto class = "contents">
				<button (click) = "returntoYourClasses()" ion-button>Return to Your Classes</button>
			</ion-col>
		</ion-row>
    </div>
	</div>

</ion-content>
